/*Created by Brittany Carter*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@font-face {
  font-family: madeEvolveEvo;
  src:url("assets/made_evolve_sans/MADE Evolve Sans Medium EVO (PERSONAL USE).otf");
}

html, body {
	margin: 0;
}
body{
	background-color: #2d2138;
	position: relative;
}
h1, h2{
	color: #f15f55;
}
p, h5{
	color: #fcc04d;
	font-family: 'Lato', sans-serif;
}
h5{
	text-align: center;
	font-size: 11px;
}
#home section, #contact section {
	height: 100vh;
	padding: 1%;
}

.tag {
opacity: 0;
transform: translate(0, 10vh);
transition: all 2s;
}

.tag.visible {
opacity: 1;
transform: translate(0, 0);
}


#home{
	margin-top: 0;
	padding-top: 15%;
	padding-bottom: 30%;
	padding-left: 30%;
    	background: rgb(45,33,56);
    	background: linear-gradient(7deg, rgba(45,33,56,1) 45%, rgba(241,95,85,1) 72%, rgba(252,192,77,1) 100%);
    	background-size: 400% 400%;
    	animation: gradient 16s ease infinite;
}
#home img{
	width: 50%;
}
@keyframes gradient {
        0% {
                background-position: 0% 50%;
        }
        50% {
                background-position: 100% 50%;
        }
        100% {
                background-position: 0% 50%;
        }
}
.logo{
	border-radius: 9px;
	background-color: #2d2138;
}
#home .buttonPl{
	margin-left: 20%;
	margin-top: 2%;
}
.button {
    width: 200px;
    height: 40px;
    border: 2px solid #fcc04d;
	border-radius: 9px;
    background-color: #2d2138;
	color: #f15f55;
	font-family: 'Lato', sans-serif;
    font-size: 22px;
	font-style: italic;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}
#home a:hover, #contact a:hover{
	text-decoration: none;
}

.button::before, .button::after {
  	position: absolute;
  	background: #2d2138;
  	z-index: -1;
  	transition: 1s;
 	content: '';
}

.button::before {
	width: 180px;
  	height: 40px;
}

.button::after {
 	width: 150px;
  	height: 20px;
}
.button:hover::before {
  	width: 0px;
  	background: #2d2138;
}

.button:hover::after {
  	height: 0px;
  	background: #2d2138;
}

.button:hover {
  	background: #2d2138;
}
.navbar-brand {
    width: 10%;
}
.navbar, h1, h2{
	font-family: 'madeEvolveEvo';
}
.navbar{
	font-size: 32px;
	background: #2d2138;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus{
	outline-color: #fcc04d;
	border: 1px solid #fcc04d;
}
.navbar-toggler-icon {
  	background-image: none !important;
}
.navbar-toggler-icon::before {
  	font-family: FontAwesome;
	font-size: 31px;
  	content: "\f0c9"; /* fa-bars, fa-navicon */
	color:#fcc04d;
}
.navbar-dark a{
	color: #fcc04d !important;
}
.navbar-dark a:hover{
	text-decoration: underline!important;
	color: #f15f55 !important;
}

.navbar-dark .navbar-nav .active>.nav-link,.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link.show,.navbar-dark .navbar-nav .show>.nav-link{
	pointer-events: none;
   	cursor: default;
	text-decoration: underline;
	color: #f15f55 !important;
}


section{
    padding-top: 7%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 7%;
    text-align: justify;
	margin-bottom: 20px;
}
section::before {
    height: 70px;
    content: "";
    display:block;
}
#contact .buttonPl{
	margin-top: 7%;
}
#contact a{
	color: #fcc04d;
	font-size: 20px;
	
}
#contact a:hover{
	color: rgba(241,95,85,0.5);
}
.skills p{
	font-size: 14.5px;
}
.hidden, .hidden:focus{
	background-color: Transparent;
	border: none;
	outline: none;
}
.hidden{
	padding: 3%;
}
.card-img-overlay, .card-img-overlay:focus{
	background-color: rgba(45, 33, 56, 0.9);
	border: 1px solid #fcc04d;
}
#portfolio button{
	margin-left: -2%;
}
#portfolio .buttonPl{
	margin-left: 15%;
}
#modals h1, #modals p{
	color: #2d2138;
}
.close{
		margin-left: 95%;
	}
#modals i {
  		font-family: FontAwesome;
		font-size: 20px;
  		content: "\f057";
}
.btn-dark{
	background-color: #2d2138 !important;
	margin-left: 30%;
}
.btn-dark:hover{
	background-color: rgba(45, 33, 56, 0.6) !important;
}
#contact{
	padding-top:20%;
}
#contact .links{
	text-align: center;
}
/* mobile screen size*/
@media screen and (min-width:200px) and (max-width: 576px) {
	#home .logo{
		width: 95%;
		margin-top: 0;
	}
	
	section::before {
    		height: 320px;
    		content: "";
    		display:block;
	}
	#home .button, #contact .button {
    		width: 260px;
    		height: 50px;
	}
	#home .button::before, #contact .button::before {
		width: 240px;
  		height: 50px;
	}
	#home .button::after, #contact .button::after {
 		width: 210px;
  		height: 30px;
	}
	#home{
		padding-top: 0;
		padding-left: 5%;
		padding-bottom: 60%;
	}
	.navbar-brand {
    		width: 25%;
	}
	.navbar{
		font-size: 25px;
	}
	#about img{
		padding-bottom: 5%;
	}
	p{
		font-size: 19px;
	}
	.close{
		margin-left: 90%;
	}
	#portfolio .buttonPl{
		margin-left: 20%;
	}
	#portfolio h2{
		font-size: 27px;
	}
	#contact .links{
		padding-top: 10%;
		padding-bottom: 10%;
		text-align: left;
	}
	#contact .links a{
		padding-bottom: 20%;
	}
}
@media screen and (min-width:577px) and (max-width: 780px) {
	#home .logo{
		margin-top: 0%;
		width: 80%;
	}
	#home{
		padding-top: 0;
		padding-bottom: 40%;
	}
	section::before {
    		height: 400px;
    		content: "";
    		display:block;
	}
	#home .button, #contact .button {
    		width: 300px;
    		height: 50px;
	}
	#home .button::before, #contact .button::before {
		width: 280px;
  		height: 50px;
	}

	#home .button::after, #contact .button::after {
 		width: 250px;
  		height: 30px;
	}
	.navbar{
		margin-top: 20%;
	}
	.navbar-brand {
    		width: 12%;
	}
	p{
		font-size: 16px;
	}
	.close{
		margin-left: 92%;
	}
	#contact .buttonPl{
		margin-left: 20%;
	}
	#contact .links, #contact h5{
		text-align: right;
	}
	#contact .links a{
		padding-bottom: 10%;
	}
	
}