@charset "utf-8";
/*
	GIT418-74011: Chapter 8 Case Project
	Author: Brittany Carter
	Date: October 21, 2020
*/
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
}
body{
    background-color: #FFFFDA;
    font-family: 'Montserrat', sans-serif;
}
header{
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 2%;
	
}
header img{
	width: 24%;
	padding-right: 3%;
	float: left;
}
nav .current > a {
   	pointer-events: none;
   	cursor: default; 
}

.navlinks{
	padding-top: 2%;
	font-family: 'Quicksand', sans-serif;
	margin-top: -1.7%;
}
.navlinks li, #genreChecked li{
	display: inline;
	padding-right: 1%;
}
.navlinks li a{
    text-decoration: none;
    color: #02B8E5;
    font-size: 25px;
}
.navlinks li a:hover{
	text-decoration: underline;
}
nav .current a{
	text-decoration: underline;
}
main{
    background-color: #0A83DA;
	color:#FFFFDD;
    margin-top: -2%;
    padding-bottom: 2%;
	padding-left: 3%;
    overflow: auto;	
}
h1, footer{
	text-align: center;
	padding-top: 2%;
}


#home video{
	width: 100%;
	object-fit: fill;
}

#characters h1{
	padding-bottom: 2%;
}

#characters section {
	padding-top: 2%;
	display: inline-grid;
	grid-template-columns: 7.8em 7.8em  7.8em;
	grid-template-rows: 30% 1em 1em;
	grid-column-gap: 10%;
	grid-row-gap: 9%;
}
#characters img{
	width: 120%;
	padding-right: 1%;
	padding-bottom: 1%;
}
#clockDisplay{
	text-align: center;
}

#plot, #director, #security{
	padding-right: 3%;
}
#plot img{
	width: 45%;
}
#director img{
	width: 28%;
}
#plot img, #director img{
	float: left;
	padding-top: 2%;
	padding-right: 2%;
}
#plot h1, #director h1, #security h1{
	padding-top: 2%;
	text-align: left;
}
#plot p, #director p, #security p{
	
	text-align: justify;
	padding-right: 2.5%;
}
#results h1{
	text-align: center;
	font-size: 50px;
	padding:7%;
}
#security{
	width: 100%;
	overflow: auto;
}
#security a{
	color: #FFFFDD;
}
#security a:hover{
	text-decoration: none;
}
#security p{
	margin-top: -1%;
}


#first_name, #last_name, #email, #subject{
	height: 40px;
}
#last_name, #first_name{
	width: 31%;
}
#last_name{
	margin-left: 2.5%;
}
#email, #subject, #songName, #band, #anime, .contactForm form textarea{
	width: 65%;
}

.contactForm, .songForm{
	padding-top: 2%;
}

.contactForm form textarea{
	height: 100px;
}
.songForm input, .contactForm form input, .contactForm form textarea{
	font-size: 19px;
}
.songForm h3, .songForm p{
	margin-bottom: -1%;
	margin-top: -0.5%;
}
.songForm input, .contactForm form input, .contactForm form textarea{
    border-bottom-style: hidden;
    font-weight: 500;
    border-radius: 3px;
	margin-top: 3%;
	padding: 1%;
	overflow: hidden;
}
.error{
	background: rgb(255,208,208);
}
.errorCheck{
    outline: 1px solid red;
}
#submitBtn {
    width: 15%; 
}
#listBtn, #submitBtn{
	background-color: #FFFFDA;
    color: #011421;  
}
#listBtn{
	margin-top:2%;
	padding: 1.5%;
}
#listBtn:active, #listBtn:hover, #submitBtn:active, #submitBtn:hover {
    background-color: #0A83DA;
    color: #FFFFDA;  
}

.songForm fieldset, .contactForm fieldset{
	border:0;
}
#songTable{
	margin-top: 2%;
	order-collapse: collapse;
}
#songTable, #songTable th, #songTable td{
	font-size: 16px;
	text-align: center;
}
.form-check-label{
	color: #FFFFDD;
	font-weight: 400;
}

#songTable th{
    padding: 1.5%;
    background-color: #FFFFDD;
    color: #0A83DA;
    width: 19%;
}
#songTable{
	width: 85%;
}
#songTable td {
	padding-bottom: 1%;
	padding-top: 1%;
	color: #FFFFDD;
  	border-bottom: 5px solid #FFFFDD; 
}
#songTable tr:first-child td {
  	border-top: 0;
}
#songTable tr td:first-child {
  	border-left: 0;
}
#songTable tr:last-child td {
  border-bottom: 0;
  
}
#songTable tr td:last-child {
  border-right: 0;
}

#songFields div{
	padding-top:2%;
	margin-bottom: -2%;
	color: #ffcccb;
	font-weight: 600;
}
#genreChecked li:nth-child(1) {
    margin-left: -5.5%;
}

footer{
    color: #065994;
	margin-top: -0.5%;
	margin-bottom: -1%;
}

@media screen and (min-width:200px) and (max-width: 576px) {
	header img{
		padding: 1%;
		width: 50%;
	}
	.navbar-toggler{
		margin-left: 70%;
	}
	.nav-link{
		margin: 0;
		text-align: right;
	}
	.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus{
		outline-color: #02B8E5;
		border: 1px solid #02B8E5;
	}
	#home h1{
		text-align: center;
	}
	h1, footer{
	text-align: left;
	}
	footer{
		padding-left: 3%;
	}

	#director img, #director h1{
		margin-top: 2%;
	}
	#director img{
		width: 55%;
		padding: 2%;
	}
	#plot img{
		width: 95%;
		margin-top: 2%;
		padding-bottom: 2%;
	}
	#director h1{
		padding-bottom: 20%;
	}
	#info{
		width: 50%;
	}
	#email, #subject, #songName, #band, #anime, .contactForm form textarea{
		width: 90%;
	}
	#last_name, #first_name{
		width: 43%;
	}
	#contact label, #contact option, #director, #plot{
		font-size: 18px;
	}
	#submitBtn {
    	width: 50%; 
	}
}
