@charset "utf-8";
body {
	background-size: cover;
	background-color: #4D4DFF;
	background-image: url(images/backgroundimage2.jpg);
}
#wrapper {
	margin: auto;
	padding-top: 20px;
	width: 90%;
}


header {
	background-color: #4D4DFF;
	height: 82px;
	background-image: url(images/logo.JPG);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	padding-left: 0px;
	width: 23em;
	margin-left: -13px;

}
main , footer {
	border: 2px solid #EAEAEA;
	border-radius: 11px;
	background-color: #4D4DFF;
	color: #EAEAEA;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
main h1 {
	text-align: center;
	color: #EAEAEA;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 33pt;
}
main {
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	padding-bottom: 15px;
}
footer {
	font-size: 12px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}
footer img {
	width: 5%;
	padding: 11px 14px 6px 29px;
}

#navlinks  {
	list-style: none;
	text-align: center;
	width: 80%;
	padding-left: 0px;
	margin-left: 32px;
	color: #EAEAEA;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	text-decoration: none;
	font-size: x-large;
	font-style: normal;
	font-weight: 400;
}

#navlinks li  {
	background-color: #4D4DFF;
	font-size: large;
	border: 2px solid #EAEAEA;

}
#navlinks .current  {
	background-color: #EAEAEA;

}

#navlinks a:link , a:active, a:focus{
	color: #EAEAEA;
	text-decoration: none;
	font-size: x-large;
	font-style: normal;
	font-weight: 400;
}
#navlinks a:hover  , a:visited{
	color: #EAEAEA;
	text-decoration: line-through;
}
#navlinks .current a {
	color: #4D4DFF;
}
a:link , a:active, a:focus{
	color: #EAEAEA;
	text-decoration: none;
	font-weight: bold;
}
a:hover  , a:visited {
	text-decoration: underline;
}





















@media (min-width:725px){
header {
	margin-left: 8em;
	height: 105px;
	padding-left: 0px;
	width: 31em;
}
#navlinks   {
	margin-left: 6.5px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 98.4%;
}
#navlinks a:link {
	font-size: 22px;
	font-weight: bold;
}
#navlinks li  {
	display: inline;
	border-radius: 11px;
	border: 4px solid #EAEAEA;
	padding: 4px 8px;
}
#calendar {
	width: 90%;
}
#calendar li {
	padding-top: 0px;
	text-align: center;
	border: 4px solid #EAEAEA;
	padding-left: 12px;
	display: inline-block;
	padding-right: 12px;
}
#projects li {
	font-size: 18px;
	padding-left: 24px;
}


#projects .pfirst {
	border: none;
}
#member li {
	display: inline-table;
	width: 26%;
}







}

@media (min-width:1050px){
header {
	margin-left: 21.6em;
}
#projects {
	list-style: outside;
}
#form1 legend {
	margin-left: 3px;
}




}
.first {
	border-top: 2px solid #EAEAEA;
}

#calendar {
	list-style: none;
	padding-bottom: 30px;
}

#calendar li {
	padding-top: 0px;
	text-align: center;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 19px;
	border-bottom: 2px solid #EAEAEA;


}
#projects {
	text-align: left;
	padding-left: 48px;
	padding-right: 48px;

}


#projects li {
	border-top-width: 2px;
	border-top-style: solid;
	padding-bottom: 4px;
	padding-top: 9px;
	font-size: 18px;
}
.pfirst {
}
#member   {
	list-style: none;
	padding-bottom: 21px;

}
#member li  {
	padding-left: 20px;
	padding-right: 20px;
}
.check {
	width: 49%;
}
#form1 {
	text-align: center;
	padding-left: 29px;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 43px;
}

#form1 legend {
	padding-bottom: 5px;
	padding-top: 11px;
	text-align: center;
}
.submit {
	background-color: #4D4DFF;
	color: #EAEAEA;
	width: 23%;
	border-radius: 8px;
	-webkit-box-shadow: 0 2px 8px #EAEAEA;
	box-shadow: 0 2px 8px #EAEAEA;
	font-size: 15px;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
}
